.m-logo {
    height: 30px;
    padding: 0px;
    margin: 2px;
}

.h-inline {
    display: inline;
    margin-right: 10px
}

.block-question {
    margin: 10px;
    border: solid 1px lightgreen;
    padding-bottom: 10px;
    position: relative;
    height: 200px;
}

.block-answer {
    margin: 20px;
    border: solid 1px lightgray;
    padding-bottom: 10px;
    position: relative;
    height: 200px;
}

.answer-text {
    margin: 20px 0px;
}


.m-usr-img {
    height: 35px;
    margin: 2px;
    padding: 1px;
}

.question-img {
    padding: 3px;
    margin-bottom: 5px;
    height: 70px;
}

.div-features {
    position: absolute;
    bottom: 15px;
}

.badge-date {
    margin-right: 15px;
    float: right;
}

.error-message {
    color: #c9302c;
}

.div-vote-question {
    padding-top: 20px;
    padding-left: 5px;
    text-align: center;
}

.vote-arrow {
    padding: 11px 15px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -3px;
}

.votes-number {
    margin: 5px;
}

.ask-btn {
    background-color: #c9302c;
}

.full-width-input {
    width: 98%;
}

.full-width-submit {
    box-sizing: border-box;
    width: 100%;
}

.m-usr-big-img {
    margin: 5px 20px;
    padding: 2px;
    height: 100px;
}

.btn-scroll-up {
    position: fixed;
    top: -10px;
    bottom: -10px;
    left: 0px;
    width: 10%;
    color: #aaccee;
    background-color: transparent;
    border: solid #E1E7ED 3px;
    z-index: 0;
}

.btn-scroll-up:hover {
    background-color: #E1E7ED;
    color: #0088cc;
}




