{% extends 'base.html' %}

{% block content %}
    <h1>Ask!</h1>
    <form class="form offset0" method="post" action="{% url 'ask' %}" novalidate>
    {% csrf_token %}
        {% include "input_question_title.html" %}
        {% include "input_question_body.html" %}
        {% include "input_tags.html" %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-danger btn-large full-width-submit">Ask!</button>
            </div>
        </div>
    </form>
{% endblock %}