<!DOCTYPE html>
<html>
    <head>
        <title>Ask Pupkin</title>
        <!-- Include meta tag to ensure proper rendering and touch zooming -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Include bootstrap stylesheets -->
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "/css/main.css" %}">
        <link rel="shortcut icon" href="{% static "/icon.png" %}">
        <script type="text/javascript" src="{% static "/js/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "/js/jqBootstrapValidation.js" %}"></script>
    </head>
    <body>
        <a name="top"/>
        <div class="navbar" style="position: fixed; z-index: 2; position: relative">
            <div class="navbar-inner" style="position: relative">
                <a class="brand" href="/{{ sort_t }}">Ask Pupkin</a>
                <ul class="nav">
                    <li>
                        <form class="navbar-form pull-left">
                            <input type="text" class="span3 search-query">
                            <button type="submit" class="btn">Search</button>
                        </form>
                    </li>
                </ul>
                <ul class="nav" style="position: absolute; left: 50%; margin-left: -163px">
                    <form class="navbar-form pull-left">
                        <a class="span4 btn btn-danger" style="margin: 5px 0px"  href="{% url 'ask' %}">Ask</a>
                    </form>
                </ul>
                <ul class="nav pull-right">
                    {% block userbar %}
                        {% if request.user.username != "" %}
                            <li>
                                <a href="/#"><b>{{ request.user.username }}</b></a>
                            </li>
                            <li><img class="m-usr-img" src="{{ MEDIA_URL}}{{request.user.profile.avatar }}"></li>
                            <li>
                                <a href="/settings">Settings</a>
                            </li>
                            <li>
                                <a href="/logout">Log out</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}">Log In</a>
                            </li>
                            <li>
                                <a href="/signin">Register</a>
                            </li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span10">
                {% block content %}
                {% endblock %}
                </div>
                <div class="span2">
                    <h1>Tags</h1>
                    {% for tag in tags %}
                        <span class="badge" style="background-color: transparent">
                            <span class="badge">{{ tag.rating }}</span>
                            <a href="/{{ sort_t }}/1/{{ tag.name }}"><h5 class="h-inline">{{ tag.name }}</h5></a>
                        </span>
                        <br>
                    {% endfor %}
                    <h1>Best</h1>
                    {% for best in bests %}
                        <span class="badge" style="background-color: transparent">
                            <span class="badge  badge-success">{{ best.rating }}</span>
                            <a href="/{{ sort_t }}/1/{{ best.user.username }}"><h5 class="h-inline">{{ best.user.username }}</h5></a>
                        </span>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>

    <script>
        $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
    </script>

    </body>
</html>

