<div class="row block-answer">
    <div class="span2">
    {% include "block_user.html" with usr=answer.author %}
    </div>
    <div class="span6">
        <p class="answer-text">{{ answer.text }}<br></p>
        <div class="row">
            <div class="span6 div-features">
                {% if answer.is_right == True %}
                    <span class="badge badge-success">correct</span>
                {% else %}
                    <button class="btn btn-success btn-large vote-arrow js-right" data-id="{{ answer.id }}" data-url="{% url "right_answer" %}">Right!</button>
                {% endif %}
                <span class="badge badge-info badge-date">{{ question.date_added }}</span>
            </div>
        </div>
    </div>
    <div class="span1 div-vote-question">
        <button class="btn btn-success btn-large vote-arrow js-like" data-id="{{ answer.id }}" data-url="{% url "like_answer" %}">/\</button><br>
        <span class="label label-primary votes-number js-rating"><h4 class="js-rating">{{ answer.rating }}</h4></span><br>
        <button class="btn btn-danger btn-large vote-arrow js-dislike" data-id="{{ answer.id }}" data-url="{% url "like_answer" %}">\/</button>
    </div>
</div>