<div class="row block-question">
    <div class="span2">
    {% include "block_user.html" with usr=question.author %}
    </div>
    <div class="span6" >
        <a href="/question/{{ question.id }}/1"><h4>{{ question.title }}</h4></a>
        <p>{{ question.text }}<br></p>
        <div class="row ">
            <div class="span6 div-features">
                Tags:
                {% for tag in question.tags.all%}
                    <a class="badge" href="/{{ sort_t }}/1/{{ tag.name }}" style="margin-bottom: 5px">{{ tag.name }}</a>
                {% endfor %}
                <br>
                {% if question.is_answered == True %}
                    <span class="badge badge-success">answered</span>
                {% endif %}
                <span class="badge badge-important">{{ question.answer_set.count }} answers</span>
                <a href="/question/{{ question.id }}/1#answer">answer</a>
                <span class="badge badge-info badge-date">{{ question.date_added }}</span>
            </div>
        </div>
    </div>
    <div class="span1 div-vote-question">
        <button class="btn btn-success btn-large vote-arrow js-like" data-id="{{ question.id }}" data-url="{% url "like_question" %}">/\</button><br>
        <span class="label label-primary votes-number js-rating"><h4 class="js-rating">{{ question.rating }}</h4></span><br>
        <button class="btn btn-danger btn-large vote-arrow js-dislike" data-id="{{ question.id }}" data-url="{% url "like_question" %}">\/</button>
    </div>
</div>


