{% extends "base.html" %}

{% block content %}
    <h1>Questions</h1>
    {% if tag %}
        <h2>Tag: {{ tag }}</h2>
    {% endif %}
    <a href="/recent/1/{{ tag }}"><h3 class="h-inline" {% if sort_t == 'recent'%}style="color: #a9302a; font-size: 300%"{% endif %}>Recent</h3></a>
    <a href="/popular/1/{{ tag }}"><h3 class="h-inline" {% if sort_t == 'popular'%}style="color: #a9302a; font-size: 300%"{% endif %}>Popular</h3></a>
    {% for question in questions %}
        {% include "block_question.html" %}
    {% endfor %}
    <div class="pagination pagination-centered">
        <ul>
            {% for entire in entries %}
                {% if entire != "..." %}
                    <li><a href="/{{ sort_t }}/{{ entire }}">{{ entire }}</a></li>
                {% else %}
                    <li><a>{{ entire }}</a></li>
                {% endif %}
              {% endfor %}
        </ul>
    </div>

<script>

$(function(){
    $('.js-like').click(function(){
        var $btn = $(this);
        $.ajax({
            type: "POST",
            url: $btn.data('url'),
            data: {'id': $btn.data('id'), 'type': '1', 'csrfmiddlewaretoken': '{{ csrf_token }}'},

            success: function(response) {
                var $rr = $btn.parent().find('.js-rating').find('.js-rating');
                $rr.text(response.new_rating);
            },
            error: function(rs, e) {
                window.location.href='/login?rr=' + window.location.toString();
            }
        });
    });
});

$(function(){
    $('.js-dislike').click(function(){
        var $btn = $(this);
        $.ajax({
            type: "POST",
            url: $btn.data('url'),
            data: {'id': $btn.data('id'), 'type': '-1', 'csrfmiddlewaretoken': '{{ csrf_token }}'},

            success: function(response) {
                var $rr = $btn.parent().find('.js-rating').find('.js-rating');
                $rr.text(response.new_rating);
            },
            error: function(rs, e) {
                 window.location.href='/login?rr=' + window.location.toString();
            }
        });
    });
});


</script>

<a href="#top"><button class="btn-scroll-up"><h4>Go top</h4></button></a>
{% endblock %}
