<div class="control-group">
    <label class="control-label" for="inputBody">Text</label>
    <div class="controls">
        <textarea class="form-control full-width-input" type="text" name="text" id="inputBody" cols="80" rows="20"
               required
               minlength="5"></textarea>
        <p class="help-block"></p>
    </div>
</div>