<div class="control-group">
    <div class="controls">
        <textarea class="form-control full-width-input" type="text" name="text" id="inputBody" cols="80" rows="10"
               required
               minlength="10"></textarea>
        <p class="help-block"></p>
    </div>
</div>