<div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
        <input type="email" id="inputEmail" placeholder="Email" name="email" value="{{ form.email.value }}"
                required>
        <p class="help-block"></p>
    </div>
</div>