<div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password" name="password" value="{{ form.password.value }}"
                required
                minlength="5"
                data-validation-minlength-message="Too short! Must contain more than 4 characters"
                pattern="([A-z]|[0-9])*"
                data-validation-pattern-message="Must contain [A-Z], [a-z] and [0-9] only">
    </div>
</div>