<div class="control-group">
    <label class="control-label " for="inputTheme">Theme</label>
    <div class="controls">
        <input class="full-width-input form-control " type="text" name="title" id="inputTheme"
               required
               minlength="5">
        <p class="help-block"></p>
    </div>
</div>