<div class="control-group">
    <label class="control-label " for="inputTags">Tags</label>
    <div class="controls">
        <input class="full-width-input form-control " type="text" name="tags" id="inputTags"
               required
               pattern="([A-z]|[0-9][_])*(,([A-z]|[0-9][_])([A-z]|[0-9][_])*)*"
               data-validation-pattern-message="Please enter tags in format: '[tag1],[tag2],[tag3],' (without spaces and with comma at the end)" >
        <p class="help-block"></p>
    </div>
</div>