<div class="control-group">
    <label class="control-label" for="inputLogin">Login</label>
    <div class="controls">
        <input class="form-control" type="text" name="login" id="inputLogin" placeholder="Login" value="{{ form.login.value }}"
               required
               minlength="6"
               data-validation-minlength-message="Too short! Must contain more than 5 characters"
               pattern="([A-z]|[0-9])*"
               data-validation-pattern-message="Must contain [A-Z], [a-z] and [0-9] only">
        <p class="help-block"></p>
    </div>
</div>