{% extends "base.html" %}

{% block content %}
    <h1>Log In</h1>
    <h3 class="error-message">{{ message }}</h3>
    <form class="form-horizontal offset0" method="post" action="{% url 'login' %}?{{ request.GET.urlencode }}" novalidate>
    {% csrf_token %}
        {% include "input_login.html" %}
        {% include "input_password.html" %}
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label>
                <button type="submit" class="btn">Log in</button>
            </div>
        </div>
    </form>

{% endblock %}