{% extends 'base.html' %}

{% block content %}
    {% include "block_question.html" %}
    <h2>Answers:</h2>
    {% for answer in answers %}
        {% include "block_answer.html" %}
    {% endfor %}
    <div class="pagination pagination-centered">
        <ul>
            {% for entire in entries %}
                {% if entire != "..." %}
                    <li><a href="/question/{{ question.id }}/{{ entire }}">{{ entire }}</a></li>
                {% else %}
                    <li><a>{{ entire }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <a name="answer"/>
    <h2>Answer:</h2>
    <form class="form offset0" method="post" action="{{ request.full_path }}" novalidate>
    {% csrf_token %}
        {% include "input_answer_body.html" %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success btn-large full-width-submit">Answer!</button>
            </div>
        </div>
    </form>

<script>

$(function(){
    $('.js-like').click(function(){
        var $btn = $(this);
        $.ajax({
            type: "POST",
            url: $btn.data('url'),
            data: {'id': $btn.data('id'), 'type': '1', 'csrfmiddlewaretoken': '{{ csrf_token }}'},

            success: function(response) {
                var $rr = $btn.parent().find('.js-rating').find('.js-rating');
                $rr.text(response.new_rating);
            },
            error: function(rs, e) {
                window.location.href='/login?rr=' + window.location.toString();
            }
        });
    });
});

$(function(){
    $('.js-dislike').click(function(){
        var $btn = $(this);
        $.ajax({
            type: "POST",
            url: $btn.data('url'),
            data: {'id': $btn.data('id'), 'type': '-1', 'csrfmiddlewaretoken': '{{ csrf_token }}'},

            success: function(response) {
                var $rr = $btn.parent().find('.js-rating').find('.js-rating');
                $rr.text(response.new_rating);
            },
            error: function(rs, e) {
                 window.location.href='/login?rr=' + window.location.toString();
            }
        });
    });
});

$(function(){
    $('.js-right').click(function(){
        var $btn = $(this);
        $.ajax({
            type: "POST",
            url: $btn.data('url'),
            data: {'id': $btn.data('id'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},

            success: function(response) {
                window.location.href=window.location.toString();
            },
            error: function(rs, e) {
                alert(e)
            }
        });
    });
});

</script>

<a href="#top"><button class="btn-scroll-up"><h4>Go top</h4></button></a>
{% endblock %}

