{% extends 'base.html' %}

{% block content %}
    <h1>Settings</h1>
    <h3 class="error-message">{{ message }}</h3>
    <form class="form-horizontal offset0" enctype="multipart/form-data" method="post" action="{% url 'settings' %}" novalidate>
    {% csrf_token %}
        {% include "input_login.html" %}
        {% include "input_email.html" %}
        {% include "input_password.html" %}
        <div class="control-group">
            <img class="img img-polaroid m-usr-big-img" src="{{ MEDIA_URL }}{{ user.profile.avatar }}">
            <label class="control-label" for="inputImg">Image</label>
            <div class="controls">
                <input type="file" id="inputImg" name="file" placeholder="URL" value="">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Save</button>
            </div>
        </div>
    </form>
{% endblock %}