{% extends 'base.html' %}

{% block content %}
    <h1>Sign In</h1>
    <h3 class="error-message">{{ message }}</h3>
    <form id="registrationForm" class="form-horizontal offset0" name="main" action="{% url 'signin' %}" method="post" novalidate="">
        {% csrf_token %}
        {% include "input_login.html" %}
        {% include "input_email.html" %}
        {% include "input_password.html" %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Sign in</button>
            </div>
        </div>
    </form>
{% endblock %}